#start {
  padding: 4em 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .brand-description {
      text-align: center;
      position: relative;
      top: 7em;

      h1 {
        font-size: 2em;
        color: #e8edff !important;
      }

      p {
        margin-top: -1.5em;
        font-size: 0.9em;
        font-weight: 300;
      }
    }

    .showcase-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      video {
        width: 800px;
      }

      .p-card {
        position: relative;
        top: -224px;
        width: 100%;
        max-width: 600px;
        backdrop-filter: blur(1em);

        &-header {
          height: 1.5em;

          .p-chip,
          .p-progressbar,
          .p-selectbutton,
          .p-toggleswitch-container,
          .p-toggleswitch-container .p-toggleswitch {
            height: 100%;
          }

          .p-chip:not(:has(.pi-microchip-ai)) {
            display: none;
          }

          .p-toggleswitch-container {
            .p-toggleswitch {
              &-handle {
                transform: scale(0.8);
              }
            }
          }

          .p-progressbar {
            height: 100%;
            width: 100%;
          }
        }

        &-content {
          display: flex;
          gap: 0.5em;

          .start-chart {
            width: 90%;
          }

          .content {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;

            .first-row {
              display: flex;
              width: 100%;

              .right-column {
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                .p-slider {
                  position: relative;
                  height: 110px;
                }
              }
            }

            .second-row {
              display: flex;
              align-items: center;
              padding: 0.25em;
              gap: 0.5em;

              .p-progressspinner {
                margin: 0 !important;
                height: 1.2em !important;
                width: 1.2em !important;

                &-circle {
                  opacity: 0.8;
                  stroke: var(--primary-color);
                  animation:
                    p-progress-spinner-dash 1.2s ease-in-out infinite,
                    p-progress-spinner-custom-color 6s ease-in-out infinite !important;
                }
              }

              .p-paginator {
                background: transparent;
                padding: 0 0.15em;

                &-content {
                  gap: 0.25em;
                }

                &-pages {
                  gap: 0.25em;
                }

                &-first,
                &-prev,
                &-page,
                &-next,
                &-last {
                  width: 2em;
                  height: 2em;
                  min-width: unset;
                  font-size: 0.6em;
                }
              }
            }
          }

          .p-select {
            height: 2em;
            font-size: 0.9em;

            &-label {
              padding: 0.25em;
            }
          }
        }
      }
    }

    @media (width >= 400px) {
      .brand-description {
        h1 {
          font-size: 2.75em;
        }

        p {
          margin-top: -1.5em;
          font-size: 1em;
        }
      }

      .showcase-container {
        .p-card {
          &-content {
            .right-column {
              .p-slider {
                height: 140px !important;
              }
            }

            .content {
              .p-progressspinner {
                height: 2.2em;
              }

              .p-paginator {
                padding: 0 0.25em;

                &-content {
                  gap: 0.5em;
                }

                &-pages {
                  gap: 0.5em;
                }

                &-first,
                &-prev,
                &-page,
                &-next,
                &-last {
                  width: 2.2em;
                  height: 2.2em;
                  font-size: 0.8em;
                }
              }
            }
          }
        }
      }
    }

    @media (width >= 576px) {
      .showcase-container {
        .p-card {
          &-header {
            .p-chip {
              display: flex !important;
            }
          }

          &-content {
            .start-chart {
              width: 95%;
            }

            .right-column {
              width: 5%;
              gap: 1.5em;

              .p-slider {
                height: 210px !important;
              }
            }
          }
        }
      }
    }
  }
}
