.p-toggleswitch {
  &-slider {
    background: var(--primary-card-bg-color) !important;
    border: 1px solid var(--primary-border-color) !important;
  }

  &-handle {
    border: 1px solid var(--primary-color) !important;
    background: var(--primary-bg-color) !important;
  }

  &:not(.p-toggleswitch-checked) {
    .p-toggleswitch-handle {
      background: var(--primary-gray-bg-color) !important;
      border: 1px solid var(--primary-gray-color) !important;
    }
  }
}
